/* ------ language="CSS" file="style/fonts.css" */
@font-face {
    font-family: zillaSlab;
    font-weight: 300;
    src: url(fonts/ZillaSlab-Light.woff2) format('woff2'),
         url(fonts/ZillaSlab-Light.ttf) format('ttf');
}

@font-face {
    font-family: zillaSlab;
    font-weight: 500;
    src: url(fonts/ZillaSlab-Medium.woff2) format('woff2'),
         url(fonts/ZillaSlab-Medium.ttf) format('ttf');
}

@font-face {
    font-family: niramit;
    src: local("Niramit"),
         url(fonts/Niramit-Light.woff2) format('woff2'),
         url(fonts/Niramit-Light.ttf) format('ttf');
}

@font-face {
    font-family: niramit;
    font-style: italic;
    src: local("Niramit"),
         url(fonts/Niramit-LightItalic.woff2) format('woff2'),
         url(fonts/Niramit-LightItalic.ttf) format('ttf');
}

@font-face {
    font-family: anonymous;
    src: local("Anonymous Pro"),
         url(fonts/AnonymousPro-Regular.woff2) format('woff2'),
         url(fonts/AnonymousPro-Regular.ttf) format('ttf');
}

@font-face {
    font-family: anonymous;
    font-style: italic;
    src: local("Anonymous Pro"),
         url(fonts/AnonymousPro-Italic.woff2) format('woff2'),
         url(fonts/AnonymousPro-Italic.ttf) format('ttf');
}

@font-face {
    font-family: anonymous;
    font-weight: bold;
    src: local("Anonymous Pro"),
         url(fonts/AnonymousPro-Bold.woff2) format('woff2'),
         url(fonts/AnonymousPro-Bold.ttf) format('ttf');
}

@font-face {
    font-family: anonymous;
    font-style: italic;
    font-weight: bold;
    src: local("Anonymous Pro"),
         url(fonts/AnonymousPro-BoldItalic.woff2) format('woff2'),
         url(fonts/AnonymousPro-BoldItalic.ttf) format('ttf');
}
/* ------ end */
