.phonetic {
    font-family: serif;
    font-size: 12pt;
}

blockquote {
    background: #ddd;
    padding: 8pt 20pt 8pt 20pt;
}

code
{
    font-family: Courier, monospace;
    font-size: 12pt;
}

.sourceCode
{
    font-size: 10pt;
    border: solid thin #aaa;
    border-radius: 5pt;
    background: #eff2f2;
    padding: 10pt;

    width: 90%;
    /* width: 40em; */
    position: relative;
    left: 5pt;
}

.sourceCode pre, .sourceCode code
{
    padding: unset;
    background: none;
    border: none;
    width: unset;
    left: unset;
}

.annotatedCode p {
    font-size: smaller;
    margin-bottom: 2pt;
}

.annotatedCode .sourceCode {
    margin-top: 0pt;
}

.row {
    padding-left: 30pt;
}

@media only screen and (min-width: 768px) {
    .example {
        display: flex;
        width: 80%;
    }
    
    .example .row {
        flex: 50%;
    }
}
