/* ------ language="CSS" file="style/nlesc.css" */
@import url('fonts.css');

body {
    background: white;
    color: black;
    font-size: 14pt;
    line-height: 1.5;
    font-family: zillaSlab, serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
}

strong {
    font-weight: 500;
}

#content {
    margin: 0;
    margin-top: 210pt;
}

h1 {
    margin: 40pt 10pt 10pt 10pt;
    font-family: niramit, sans-serif;
}

h2 {
    margin: 10pt 10pt 10pt 10pt;
    font-family: niramit, sans-serif;
}

h3 {
    margin: 10pt 10pt 10pt 10pt;
    font-family: niramit, sans-serif;
}

p {
    margin: 5pt 5pt;
}

blockquote a {
    display: flex;
    float: right;
    justify-content: space-between;
}

a {
    color: black;
/*    padding: 2pt 5pt 3pt 5pt;*/
    text-decoration: underline;
    text-decoration-color: #00aeef;
    text-decoration-thickness: 1.5px;
    white-space: nowrap;
}

a:hover {
    color: #00aeef;
}

.phonetic {
    font-family: serif;
    font-size: 12pt;
    font-weight: 300;
}

blockquote {
    border-left: 5pt solid #ddd;
    margin: 25pt 30pt 40pt 30pt;
    max-width: 35em;
}

dl {
    margin-left: 30pt;
}

dd {
    margin-bottom: 20pt;
}

dd img {
    width: 6em;
    flex: 0 0 6em;
    margin: 5pt 10pt;
    float: left;
}

footer {
    position: absolute;
    bottom: -30pt;
    background: #00aeef;
    height: 30pt;
    width: 100%;
}

footer address {
    padding-top: 3pt;
    padding-left: 30pt;
}

footer img {
    height: 14pt;
    margin-top: 5pt;
    margin-left: 10pt;
    vertical-align: top;
}

footer a:hover {
    color: white;
}

/* Book {{{1 */
.book {
   display: flex;
}

.book-img img {
   width: 140pt;
   margin: 0;
   box-shadow: 1px 1px 3px black;
}

.book-img figure {
   margin: 0;
   padding: 0;
}

.book-img figure img {
    margin: 0;
    padding: 0;
}
.book-img figure {
    box-shadow: none;
    border-radius: 0;
    border: none;
    padding: 0;
}

.book-img figcaption {
   display: none;
}

.book-expl {
   flex: 1;
}
/* }}}1 */

/* Header {{{1 */
#title-block-header {
    font-family: niramit, sans-serif;
    position: absolute;
    top: -150pt;
    width: 100%;
    height: 120pt;
    background: #333;
    color: #00aeef;
    padding: 0;
    margin: 0;
    /*text-shadow: 0 0 5px #00aeef;*/
}

#title-block-header .title {
    text-align: center;
    font-size: 50pt;
    margin: 5pt;
}
#title-block-header .subtitle {
    color: white;
    text-align: center;
    font-style: italic;
}
/* }}}1 */
/* Navbar {{{1 */
#topbar {
    font-family: niramit, sans-serif;
    font-size: 12pt;
    font-weight: 400;
    position: absolute;
    top: -210pt;
    height: 60pt;
    width: 100%;
    padding-top: 2pt;
    background: #00aeef;
    color: black;
    margin: 0;
}

#topbar a {
    background: #ffffff00;
    color: black;
    text-decoration: none;
    padding: 5pt 10pt 4pt 10pt;
    transition: color 0.1s ease;
}

#topbar a:hover {
    color: white; 
    text-shadow: 0 0 1px #fff;
}

#logobar img {
    height: 20pt;
    vertical-align: middle;
}

#navigation {
    position: absolute;
    margin-top: 5pt;
    top: 0;
    left: 10pt;
}

#logobar {
    margin-top: 5pt;
    position: absolute;
    top: 30pt;
    right: 10pt;
}
/*}}}1*/

#synopsis {
   line-height: 2;
}

h4:before {
    content: "• •";
    margin-right: 20pt;
}

h4 {
    background: #00aeef;
    color: white;
    text-shadow: 0 0 1px black;
    font-family: niramit, sans-serif;
    margin: 0 10pt;
    padding: 4pt 0 6pt 10pt;
    border-radius: 8pt 8pt 0pt 0pt;
}

p {
    margin: 5pt 25pt;
}

/* Markdown examples {{{1 */
.example {
  padding: 0px;
  overflow: hidden;
  margin: 0 10pt 0pt 10pt;
  background-color: #f1f1f1;
} 

.example figcaption {
    display: none;
}

.example figure {
    flex: 0 0 40%;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
}

.example .given-input {
    padding: 0pt;
    margin: 0pt;
    background: #303030;
}
.example p {
    margin: 15pt 10pt;
    text-align: justify;
}

.example .given-input div.sourceCode {
    margin: 0pt;
    width: 95%;
    padding: 10pt 5pt;
    border: none;
    border-radius: 0pt;
    font-size: 12pt;
    overflow: hidden;
} 

.example .generated-output {
    margin: 0pt;
    padding: 0pt 10pt 15pt 10pt;
}

.example .generated-output p {
    margin: 15pt 0pt;
}

.example .generated-output .annotated-code p {
    margin-bottom: 2pt;
}

.example .generated-output div.sourceCode {
    width: 27em;
    margin: 0;
    margin-left: 10pt;
}

/* collapsible example }}}1 */
/* Code blocks {{{1 */
code
{
    font-family: anonymous, monospace;
    font-size: 12pt;
}

div.doctest[data-status="SUCCESS"] pre.result code span
{
    color: green!important;
}

div.doctest div.doctestInput div.sourceCode {
    border-radius: 5pt 5pt 0 0;
}

div.doctest div.doctestResult div.sourceCode {
    border-radius: 0pt 0pt 5pt 5pt;
}

div.doctest div.doctestResult div.sourceCode pre::before {
    content: "⇛ ";
}

div.sourceCode
{
    font-size: 10pt;
    border: solid thin #aaa;
    border-radius: 5pt;
    padding: 10pt;
    
    overflow: hidden;
    margin-left: 40pt;
    width: 50em;
    /* width: 40em; */
}

pre.sourceCode {
    margin: 0;
}

.sourceCode pre, .sourceCode code
{
    padding: unset;
    background: none;
    border: none;
    width: unset;
    left: unset;
}

.annotatedCode p {
    margin-bottom: 2pt;
}

.annotatedCode .sourceCode {
    margin-top: 0pt;
}
/* }}}1 */
/* Slide show {{{1 */
figure
{
    border: solid 1px #aaa;
    border-radius: 5pt;
    padding: 10pt;
    /* background: white; */
    box-shadow: 0pt 0pt 4px 0pt #888;
    text-align: center;
}

#slide-show figure {
   border-radius: 0;
   padding: 0;
   background: #282828;
   color: white;
   margin: 0;
}

figcaption
{
    text-align: justify;
    font-style: italic;
}

figure img
{
    width: 100%;
    margin: 0 auto 0 auto;
}

#slide-show {
  max-width: 768px;
  position: relative;
  margin: 10pt auto;
}

/* Hide the images by default */
.slide {
  display: none;
}

.nav {
  position: relative;
  top: -50%;
}

/* Next & previous buttons */
.prev, .next {
  color: white;
  cursor: pointer;
  width: auto;
  position: absolute;
  bottom: 0;
  margin: 10pt;
  padding: 2pt 5pt 5pt 5pt;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 5pt;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}
.prev {
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background: #555555;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 10pt 2pt;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

#slide-show figcaption {
   margin: 5pt 10pt 10pt 30pt;
   font-size: 14pt;
}

/* Caption text */
/*#slide-show figcaption {*/
  /*color: #f2f2f2;*/
  /*font-size: 15px;*/
  /*padding: 8px 12px;*/
  /*position: absolute;*/
  /*bottom: 8px;*/
  /*width: 100%;*/
  /*text-align: center;*/
/*}*/

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* }}}1 */

@media only screen and (min-width: 768px) {
    /* ------ begin <<desktop-mode>>[0] */
    #title-block-header {
    top: -150pt;
    height: 120pt;
    padding: 20pt 0 10pt 0;
    }
    
    #content {
    top: 180pt;
    left: 50%;
    max-width: 650pt;
    margin: 0 auto;
    margin-top: 180pt;
    padding-top: 15pt;
    padding-bottom: 15pt;
    margin-bottom: 30pt;
    /*margin: 0 0 0 -325pt;*/
    }
    
    #topbar {
    height: 30pt;
    top: -180pt;
    }
    
    #navigation {
    position: absolute;
    left: 10pt;
    margin-top: 5pt;
    }
    
    #logobar {
    position: absolute;
    top: 0;
    right: 10pt;
    margin-top: 5pt;
    }
    
    .example {
    display: flex;
    margin: 0 10pt 50pt 10pt;
    }
    
    .example .given-input {
    flex: 1;
    }
    .example .generated-output {
    flex: 1;
    }
    /* ------ end */
}
/* ------ end */
