body
{
    margin:		0 30% 0 250pt;
    max-width:	600pt;
    background: #efefef;
    padding:	0 10pt 0 0;
    font-family: 'Dosis', sans-serif;
    /* font-family: "Bitstream Charter", serif; */
    font-size: 14pt;
    counter-reset: h1;
}

p {
    text-align: justify;
}

a {
    color: rgb(102, 41, 41);
    /* text-decoration: none; */
}

.TODO {
    background: pink;
    border: solid thin black;
    margin: 5pt 30pt 5pt 30pt;
    padding: 3pt;
    box-shadow: 8pt 8pt 10pt 0pt #aaa;
}

.TODO :before {
    content: "👷 TODO: ";
    font-weight: bold;
}

h2 {
    counter-reset: h2;
}

h3 {
    counter-reset: h3;
}

h2:before {
    content: counter(h1) ".\0000a0\0000a0";
    counter-increment: h1;
}

h3:before {
    content: counter(h1) "." counter(h2) ".\0000a0\0000a0";
    counter-increment: h2;
}

h4:before {
    content: counter(h1) "." counter(h2) "." counter(h3) ".\0000a0\0000a0";
    counter-increment: h3;
}

#TOC
{
    font-size: 12pt;
    position: fixed;
    top: 0pt;
    left: 0pt;
    bottom: 0pt;
    background: rgb(0, 0, 0);
    border-right: solid thin rgb(255, 255, 255);
    padding: 20pt;
    padding-right: 25pt;
    width: 150pt;
    color: #FFF;
}

#TOC a {
    color: #eee;
    text-decoration: none;
}

#TOC ul {
    padding: 3pt 0 3pt 10pt;
}

code
{
    font-family: Courier, monospace;
}

.sourceCode, .elm
{
    font-size: 10pt;
    border: solid thin #aaa;
    border-radius: 5pt;
    background: #eff2f2;
    padding: 10pt;

    width: 40em;
    position: relative;
    left: 25pt;
}

.elm pre, .sourceCode pre, .sourceCode code
{
    padding: unset;
    background: none;
    border: none;
    width: unset;
    left: unset;
}

figure
{
    border: solid 1px #aaa;
    border-radius: 5pt;
    padding: 10pt;
    background: white;
    box-shadow: 8pt 8pt 10pt 0pt #aaa;
    text-align: center;
}

figcaption
{
    text-align: justify;
    font-style: italic;
}

figure img
{
    width: 100%;
    margin: 0 auto 0 auto;
}

#examples-div
{
    overflow-y: auto;
    position: fixed;
    top: 0pt;
    right: 0pt;
    bottom: 0pt;
    width: 25%;
    padding: 0 10pt 0 10pt;
    font-size: 12pt;
    background: rgb(161, 161, 161);
}

#examples-div h2 {
    text-align: right;
}

#examples-div h2:before {
    content: "";
    counter-increment: none;
}

#examples-div img {
    margin: 0 0 10pt 0;
    padding: 0;
    width: 100%;
    border-radius: 5pt 5pt 0 0;
}

#examples-div .example p {
    text-align: left;
    margin: 0pt;
    padding: 10pt;
    color: black;
}

#examples-div .example {
    padding: 0;
    margin-bottom: 15pt;
    border-radius: 8pt;
    background: #7992a8;
    box-shadow: 2pt 2pt 3pt 0pt #000;
}

#examples-div a
{
    text-decoration: underline;
    font-size: 14pt;
    color: #333399;
}

#logobar {
    height: 20pt;
}

#logobar img {
    height: 20pt;
    vertical-align: middle;
}
