body
{
    margin:		0 auto 0 250pt;
    max-width:	600pt;
    background: #efefef;
    padding:	0 10pt 0 0;
    /* font-family: "Cantarell", "Verdana", sans-serif; */
    font-family: "Bitstream Charter", serif;
    font-size: 14pt;
    counter-reset: h1;
}

p {
    text-align: justify;
}

a {
    color: rgb(102, 41, 41);
    text-decoration: none;
}

.TODO {
    background: pink;
    border: solid thin black;
    margin: 5pt 30pt 5pt 30pt;
    padding: 3pt;
    box-shadow: 8pt 8pt 10pt 0pt #aaa;
}

.TODO :before {
    content: "👷 TODO: ";
    font-weight: bold;
}

h2 {
    counter-reset: h2;
}

h3 {
    counter-reset: h3;
}

h2:before {
    content: counter(h1) ".\0000a0\0000a0";
    counter-increment: h1;
}

h3:before {
    content: counter(h1) "." counter(h2) ".\0000a0\0000a0";
    counter-increment: h2;
}

h4:before {
    content: counter(h1) "." counter(h2) "." counter(h3) ".\0000a0\0000a0";
    counter-increment: h3;
}

#TOC
{
    font-size: 10pt;
    position: fixed;
    top: 0pt;
    left: 0pt;
    bottom: 0pt;
    background: rgb(0, 0, 0);
    border-right: solid thin rgb(255, 255, 255);
    padding: 20pt;
    padding-right: 25pt;
    width: 150pt;
    color: #FFF;
}

#TOC a {
    color: #eee;
}

#TOC ul {
    padding: 3pt 0 3pt 10pt;
}

code
{
    font-family: Courier, monospace;
}

.sourceCode
{
    font-size: 10pt;
    border: solid thin #aaa;
    border-radius: 5pt;
    background: #eff2f2;
    padding: 10pt;

    width: 40em;
    position: relative;
    left: 25pt;
}

.sourceCode pre, .sourceCode code
{
    padding: unset;
    background: none;
    border: none;
    width: unset;
    left: unset;
}

figure
{
    border: solid 1px #aaa;
    border-radius: 5pt;
    padding: 10pt;
    background: white;
    box-shadow: 8pt 8pt 10pt 0pt #aaa;
    text-align: center;
}

figcaption
{
    text-align: justify;
    font-style: italic;
}

figure img
{
    width: 100%;
    margin: 0 auto 0 auto;
}
